html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, img, abbr, acronym, address, big, cite, code, hr, del, dfn, font, ins, kbd, q, s, samp, small, strike, tt, var, center,  dl, dt, dd, ol, ul, li, fieldset, form, label, legend, select, input, button, textarea, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; text-decoration:none; outline: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
li { list-style: none; }
em { text-decoration: italic; }

* {
	padding: 0;
	margin: 0;
}



/* MIXIN */
@mixin gradiente3($angulo,$opacity,$grad1, $grad2, $grad3) {
	$angulo: $angulo+deg;
	background: $grad1; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient($angulo ,rgba($grad1, $opacity), rgba($grad2, $opacity), rgba($grad3, $opacity)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($angulo ,rgba($grad1, $opacity), rgba($grad2, $opacity), rgba($grad3, $opacity)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($angulo ,rgba($grad1, $opacity), rgba($grad2, $opacity), rgba($grad3, $opacity)); /* For Firefox 3.6 to 15 */
	background: linear-gradient($angulo ,rgba($grad1, $opacity), rgba($grad2, $opacity), rgba($grad3, $opacity)); /* Standard syntax */
}

@mixin gradiente2($angulo,$opacity,$grad1, $grad2) {
	$angulo: $angulo+deg;
	background: $grad1; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient($angulo ,rgba($grad1, $opacity), rgba($grad2, $opacity)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($angulo ,rgba($grad1, $opacity), rgba($grad2, $opacity)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($angulo ,rgba($grad1, $opacity), rgba($grad2, $opacity)); /* For Firefox 3.6 to 15 */
	background: linear-gradient($angulo ,rgba($grad1, $opacity), rgba($grad2, $opacity)); /* Standard syntax */
}

@mixin background-size($value) {
	-webkit-background-size: $value;
	-moz-background-size: $value;
	-o-background-size: $value;
	background-size: $value;
}

@mixin rotacao() {
	$value: -5deg;
	-webkit-transform: rotate($value);
	-moz-transform: rotate($value);
	-o-transform: rotate($value);
	-ms-transform: rotate($value);
	transform: rotate($value);
}

@mixin scale() {
	$value: 1.2;
	-webkit-transform: scale($value);
	-moz-transform: scale($value);
	-o-transform: scale($value);
	-ms-transform: scale($value);
	transform: scale($value);
}

@mixin scale-rotate() {
	$scale: 1.2;
	$rotate: -5deg;
	-webkit-transform: scale($scale) rotate($rotate);
	-moz-transform: scale($scale) rotate($rotate);
	-o-transform: scale($scale) rotate($rotate);
	-ms-transform: scale($scale) rotate($rotate);
	transform: scale($scale) rotate($rotate);
}

@mixin box-sizing() {
	$value: border-box;
	-webkit-box-sizing: $value;
	-moz-box-sizing: $value;
	box-sizing: $value;
}

@mixin animacao($value1,$value2) {
	@if $value1 == '' { $value1: 0.2; }
	@if $value2 == '' { $value2: 0; }
	$valueIni: $value1+s;
	$valueEnd: $value2+s;
	-moz-transition: all $valueIni ease $valueEnd;
	-webkit-transition: all $valueIni ease $valueEnd;
	-o-transition: all $valueIni ease $valueEnd;
}

@mixin animacao-off() {
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
}

@mixin clear() {
    &:before, &:after {
        display: table;
        content: ''; 
    }

    &:after {
        clear: both;
    }
}

/* VARIAVEIS */ 
$font-family: 'Lato', sans-serif;;

$cor-txt: #1c1310;
$font-size: 1rem;

$light: 300;
$regular: 400;
$bold: 700;


/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

html {
	font-size: 100%; 
}

body * {
	font-family: $font-family;
	color: $cor-txt;
}

strong {
	font-weight: bold;
}

label {
	clear: both; 
	display: block;
	color: #ac3d22;
	font-size: 1rem;
	font-weight: $regular;
}

input, textarea {
	font-size: .8125rem;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: transparent;
	font-weight: $regular;
	@include box-sizing();
}

input {
	color: $cor-txt;
	border-bottom: 1px solid #ac3d22;
}

textarea {
	height: 100px;
	resize: none;
	border: 1px solid #ac3d22;
	padding-top: 10px;
	padding-bottom: 10px;
}

button {
	background-color: #ac3d22;
	float: left;
	color: #ffffff;
	padding: 0px 30px;
	height: 35px;
	line-height: 35px;
	@include animacao('','');

	&:hover {
		background-color: darken(#ac3d22, 10%);
	}
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
	color: #8d8d8d;
}

fieldset {
	width: 100%;
	margin-bottom: 15px;
}

p {
	line-height: 1.3rem;
	font-size: $font-size;
	font-weight: $light;

	&.destaque {
		font-size: 1.625;
	}
}

a, a:hover {
	text-decoration: none;

	:active {
		text-decoration: none;
	}
}

.align-right {
	text-align: right;
}
 
.container {
	width: 100%;
	max-width: 1169px;
	margin: 0 auto;
	@include clear();
}

.txt-right {
	text-align: right;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.slide-home {
	height: 90vh !important;
	width: 100%;
	margin-top: -120px;
	display: block;
	position: relative;

	@media all and (max-width: 510px){
		height: 110vh !important;
	}

	&:after {
		content: '';
		height: 2px;
		width: 100%;
		display: block;
		background-color: #ac3d22;
	}

	.carousel {
		height: 90vh!important;
		border-bottom: 7px solid #ffffff;
		overflow: hidden;

		@media all and (max-width: 510px){
			height: 110vh !important;
		}
	}

	.item {
		background-size: cover;
		height: 90vh!important;

		@media all and (max-width: 510px){
			height: 110vh !important;
		}

		.caption {
			display: block;
			width: 800px;
			height: 269px;
			vertical-align: middle;
			position: absolute;
			z-index: 999;
			margin: -130px 0 0 -460px;
			top: 50%;
			left: 50%;

			&:before {
				content: '';
				width: 161px;
				height: 269px;
				background: url('../images/detalhe-slide.png') no-repeat 0 0;
				position: relative;
				z-index: 999;
				float: left;
			}

			h2 {
				color: #8b260d;
				font-size: 2.125rem;
				float: left;
				margin-left: -15px;
			}

			span, a {
				position: relative;
				z-index: 888;
				width: 251px;
				margin-left: 115px;
			}

			span {
				margin-top: 45px;
				height: 155px;
				font-size: 1rem;
				line-height: 1.3rem;
				color: #fff;
				font-weight: $light;
				padding: 25px 20px 25px 25px;
				display: block;
				background-color: rgba(#ac3d22, .9);
			}

			a {
				background-color: #8b260d;
				height: 53px;
				line-height: 53px;
				font-size: 1.5rem;
				color: #fff;
				padding-right: 40px;
				display: block;
				text-align: right;
				@include animacao('','');

				&:hover {
					background-color: darken(#8b260d, 10%);
				}
			}

			@media all and (max-width: 970px){
				margin-left: -250px;
				margin-top: 0px;
				top: 40%;
				width: 500px;
				text-align: center;
				height: auto;

				h2 {
					margin: 0px;
					font-size: 2rem;
					text-align: center;
					margin-bottom: 20px;
					width: 100%;
				}
				
				span {
					display: none;
				}

				a {
					display: block;
					clear: both;
					text-align: center;
					padding: 0 20px;
					margin: 0px auto;
					font-size: 1.125rem;
				}

				&:before {
					display: none;
				}
			}
		}
	}

	.controle-slide {
		position: absolute;
		top: 50%;
		margin-top: -78px;
		width: 100%;
		z-index: 100;

		@media all and (max-width: 510px){
			top: 140px;
			margin-top: 0px;
		}

		a {
			height: 136px;
			width: 35px;
			position: relative;
			z-index: 999;

			&:hover {
				opacity: .5;
			}

			&.left, &.right {
				@media all and (max-width: 510px){
					width: 13px;
					height: 50px;
				}
			}

			&.left {
				left: 10%;
				float: left;
				background-image: url('../images/seta-slide-left.png');
				
				@media all and (max-width: 1250px){ 
					left: 2%; 
				}

				@media all and (max-width: 510px){
					left: 10%;
					background-image: url('../images/seta-slide-obras-left-mobile.png');
				}
			}

			&.right {
				float: right;
				right: 10%;
				background-image: url('../images/seta-slide-right.png');
				
				@media all and (max-width: 1250px){ 
					right: 2%; 
				}
				
				@media all and (max-width: 510px){
					right: 10%;
					background-image: url('../images/seta-slide-obras-right-mobile.png');
				}
			}
		}
	}
	
	.box-btn {
		height: 88px;
		position: absolute;
		bottom: 18px;
		font-size: 1rem;
		left: 50%;
		right: 50%;
		margin-left: -584px;

		@media all and (max-width: 1180px){
			bottom: auto;
			position: relative;
			left: auto;
			right: auto;
			margin: -40px 0 0 ;
		}
	}

	.item-slide {
		padding: 0;
		@include animacao('','');

		@media all and (max-width: 1180px){
			text-align: center;
		}

		@media all and (max-width: 992px){
			width: 50%;
			float: left;
		}
	
		@media all and (max-width: 510px){
			width: 100%;
		}

		a {
			display: table;
			height: 88px;
			padding: 25px;

			@media all and (max-width: 1180px){
				display: block;
			}

			img, span {
				display: table-cell;
				vertical-align: middle;

				@media all and (max-width: 1180px){
					display: inline-block;
				}
			}

			img {
				margin-right: 30px;

				@media all and (max-width: 1180px){
					margin-right: 15px;
				}
			}

			span {
				color: #ffffff;
				line-height: 1rem;
				font-size: 1rem;

				@media all and (max-width: 1180px){
					line-height: 1rem;
					font-size: .75rem;
				}
			}
		}

		&:nth-child(1) {
			background-color: lighten(#ac3d22, 10%);
			&:hover {
				background-color: #ac3d22;
			}
		}

		&:nth-child(2) {
			background-color: lighten(#ac3d22, 5%);
			&:hover {
				background-color: darken(#ac3d22, 5%);
			}
		}

		&:nth-child(3) {
			background-color: #ac3d22;
			&:hover {
				background-color: darken(#ac3d22, 10%);
			}
		}

		&:nth-child(4) {
			background-color: darken(#ac3d22, 5%);
			&:hover {
				background-color: darken(#ac3d22, 15%);
			}
		}

	}
}

.header { 
	width: 100%;
	position: relative;
	padding: 7px 0;
	z-index: 999;
	background: url('../images/bg-header.png') repeat-x 0 0;
	border-bottom: 2px solid #ac3d22;
	overflow: hidden;

	 .container {
	 	overflow: hidden;
	 }

	h1 {
		background-color: #fff;
		padding: 5px 50px;
		margin-left: -50px;
		float: left;

		img {
			display: block;
			height: 86px;
			width: 276px;
		}
	}

	nav {
		background-color: #ac3d22;
		padding-bottom: 7px;
		margin-left: 35px;
		width: 100%;

		.menu {
			float: right;
			margin: 21px 50px 0 0;
			position: relative;
			
			@media all and (max-width: 510px){
				padding-top: 50px;
				width: 100%;
			}

			a {
				color: #ffffff;
				font-size: 1rem;
				line-height: 1.2rem;
				text-align: center;
				padding: 10px 15px;
				margin-left: 10px;
				display: table-cell;
				vertical-align: middle;
				position: relative;

				span {
					display: block;
					color: #ffffff;
				}

				@media all and (max-width: 1090px){
					display: none;

					span {
						display: inline;
						padding-right: 4px;
					}

					&.area-restrita {
						display: block;
						position: absolute;
						top: 6px;
						right: 0px;
					}
				}

				@media all and (max-width: 510px){
					&.area-restrita {
						top: 0px;
						right: 50%;
						margin: 0 -105px 0 0;
					}
				}

				&:hover, .active {
					opacity: .5;
				}

				&:after {
					position: absolute;
					right: -8px;
					top: 50%;
					content: '//';
					color: #ffffff;
					opacity: .5;
					margin-top: -11px;
				}

				&:last-child, &:nth-child(5) {
					&:after {
						display: none;
					}
				}
			}

			&.active {
				width: 100%;
				margin: 0 0 20px;

				a {
					display: inline-block;
					padding: 20px;
					margin: 0 35px 0 0;
					width: auto;
					float: right;
					clear: both;

					&:hover {
						background-color: darken(#ac3d22, 10%);
					}

					&.area-restrita {
						top: -59px;
						padding: 0;
						right: 30px;

						@media all and (max-width: 510px){
							top: 31px;
							right: 50%;
							margin: 0 -40px 0 0;
						}

					}

					&:first-child {
						margin-top: 20px;
					}

					br {
						display: none;
					}

					&:before, &:after {
						display: none;
					}
				}
			}
		}

		.menu-mobile {
			cursor: pointer;
			top: 33px;
			right: 120px;
			height: 35px;
			display: none;
			position: absolute;

			@media all and (max-width: 1090px){
				display: inline-block;
			}

			@media all and (max-width: 510px){
				top: 120px;
				right: 50%;
				margin-right: 15px;
			}

			span {
				display: block;
				width: 50px;
				height: 5px;
				text-decoration: none;
				position: relative;
				background-color: #ffffff;
				margin-top: 14px;

				&:before, &:after {
					content: '';
					position: absolute;
				}

				&:before {
					top: -15px;
				}

				&:after {
					top: 15px;
				}

				&:before, &:after {
					background-color: #ffffff;
					height: 5px;
					width: 50px;
					left: 0;
				}
			}

			&:hover, &.active {
				span {
					background-color: #f35f3b;
					
					&:before, &:after {
						background-color: #f35f3b;
					}
				}
			}

		}
	}
}

.content {
	background: url('../images/bg-content.jpg') no-repeat bottom right #ffffff;
	//min-height: 728px;
	clear: both;
	padding-bottom: 20px;

	@media all and (max-width: 1180px){
		margin-top: 40px;
	}

	h2 {
		font-size: 1.625rem;
		line-height: 2.4rem;
		color: #ac3d22;
		margin-bottom: 25px;

		.icon-title {
			display: inline-block;
			margin-right: 20px;
			width: 33px;
			height: 33px;
			position: relative;
			top: 5px;
		}
	}
}

.obras-emandamento, .obras-concluidas {
	h2 {
		margin: 35px 0 20px;
		text-align: center;
	}

	@media all and (max-width: 500px){
		margin-bottom: 100px;
	}
}

.slide-obras {
	height: 400px;
	position: relative;

	@media all and (max-width: 1250px){
		width: 720px;
		margin: 0 auto;
	}

	@media all and (max-width: 850px){
		width: 360px;
	}

	@media all and (max-width: 400px){
		width: 285px;
		margin-bottom: 80px;
	}

	.carousel {
		height: 400px;
	}

	.controle-slide {
		position: absolute;
		top: 50%;
		margin-top: -78px;
		width: 100%;
		z-index: 0;
		height: 136px;

		@media all and (max-width: 500px){
			top: auto;
			bottom: -70px;
			margin: 0;
			left: 0;
			z-index: 999;
			height: 50px;
			text-align: center;
			line-height: 50px;
		}
		
		span {
			a { 
				width: 35px;
				height: 136px;
				text-indent: -10000px;

				@media all and (max-width: 500px){
					width: 13px;
					height: 50px;
					display: inline-block;
					margin: 0 50px !important;
				}
			}

			&:hover a {
				opacity: .5;
			}

			&.left a {
				margin-left: -50px;
				float: left;
				background-image: url('../images/seta-slide-obras-left.png');

				@media all and (max-width: 500px){
					margin: 0px;
					float: none;
					background-image: url('../images/seta-slide-obras-left-mobile.png');
				}
			}

			&.right a {
				float: right;
				margin-right: -50px;
				background-image: url('../images/seta-slide-obras-right.png');

				@media all and (max-width: 500px){
					margin: 0px;
					float: none;
					background-image: url('../images/seta-slide-obras-right-mobile.png');
				}
			}
		}
	}

	.item {
		width: (100%)/3;
		float: left;

		div { 
			height: 390px;
			margin-top: 10px;
			position: relative;
			background-size: cover;
			@include animacao('','');

			&:after {
				position: absolute;
				width: 100%;
				height: 400px;
				display: block;
				top: 400px;
				left: 0;
				content: '';
				z-index: 888;
				background-color: rgba(#a13c24, .5);
				@include animacao('','');
			}
		}

		&:hover {
			a {
				background-color: darken(#a13c24, 15%);
			}

			div:after {
				top: 0px;
			}
		}

		.new {
			font-size: 1rem;
			background-color: #a13c24;
			color: #ffffff;
			position: absolute;
			top: -10px;
			left: 10px;
			padding: 2px 10px;
			z-index: 999;
		}

		.descricao, a {
			position: absolute;
			width: 100%;
			color: #ffffff;
			display: block;
			text-align: center;
			padding: 20px 10px;
			z-index: 999;
		}

		.descricao {
			background-color: rgba(#000000, .7);
			color: #ffffff;
			bottom: 40px;
			font-size: 1rem;
			line-height: 1.2rem;
		}

		a {
			padding-top: 0px;
			padding-bottom: 0px;
			font-size: 1.25rem;
			bottom: 0;
			width: 100%;
			height: 40px;
			line-height: 40px;
			text-transform: uppercase;
			background-color: #a13c24;
			@include animacao('','');
		}
	}
}

.contato-home {
	margin: 50px 0;

	.localizacao {
		iframe {
			width: 100%;
			height: 380px;
		}

		@media all and (max-width: 992px){
			margin-top: 50px;
		}
	}
}

.footer {
	border-bottom: 14px solid #ffece7;
	padding-bottom: 2px;
	background-color: #712411;

	.detalhe {
		height: 60px;
		background-color: #d29080;

		.col-md-4 {
			border-top: 9px solid transparent;

			&:nth-child(1) {
				border-top-color: lighten(#ac3d22, 15%);
			}

			&:nth-child(2) {
				border-top-color: #ac3d22;
				padding-bottom: 9px;
				margin-top: -9px;
			}

			&:nth-child(3) {
				border-top-color: darken(#ac3d22, 15%);
			}
		}
	}

	.footer-content {
		background-color: #ffffff;
		width: 100%;
		padding: 20px 0px;

		.copy {
			img {
				width: 100%;
				max-width: 276px;
			}
		}

		.endereco {
			color: #686868;
			font-size: .875rem;
			line-height: 1rem;
			font-weight: $light;
			padding-top: 10px;

			strong {
				display: block;
				font-weight: $regular;
			}
		}

		.orpit {
			padding-top: 15px;
			line-height: 24px;
			color: #000000;
			font-size: .75rem;
			text-align: right;

			img {
				width: 53px;
				height: 24px;
				float: right;
				margin-left: 5px;
			}

			@media all and (min-width: 992px) and (max-width: 1140px){
				text-align: center;				
				a {
					display: block;
				}

				img {
					float: none;
					display: line-block;
				}
			}
		}

		@media all and (max-width: 992px){
			.copy, .endereco {
				width: 50%;
				float: left;
			}

			.orpit {
				clear: both;
				width: 100%;
				text-align: center;

				a {
					display: inline-block;
					top: 6px;
					position: relative;
				}
			}
		}

		@media all and (max-width: 770px){
			.copy, .endereco {
				width: 100%;
				text-align: center;
			}

			.endereco {
				margin-top: 20px;
			}
		}
	}
}

/* INSTITUCIONAL */
.institucional {
	margin: 50px 25px 0;

	@media all and (max-width: 1180px){
		margin-top: 10px;
	}
	
	h2 {
		margin-bottom: 10px;
		margin-top: 30px;
		
		&.title {
			text-align: center;
			margin-bottom: 50px;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	p {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0px;
		}
	}
	
	ul {
		padding-left: 20px;

		li {
			line-height: 1.3rem;
			font-size: 1rem;
			font-weight: 300;
			list-style: outside;
		}
	}

	img {
		max-width: 100%;

		&.full {
			width: 100%;
		}
	}

	form {
		margin-top: 50px;
	}

	.row {
		div {
			margin-bottom: 30px;
		}
	}
}