@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
/* line 1, ../sass/style.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, img, abbr, acronym, address, big, cite, code, hr, del, dfn, font, ins, kbd, q, s, samp, small, strike, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, select, input, button, textarea, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0; }

/* line 2, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

/* line 3, ../sass/style.scss */
li {
  list-style: none; }

/* line 4, ../sass/style.scss */
em {
  text-decoration: italic; }

/* line 6, ../sass/style.scss */
* {
  padding: 0;
  margin: 0; }

/* MIXIN */
/* VARIAVEIS */
/* FONTS */
/* line 115, ../sass/style.scss */
html {
  font-size: 100%; }

/* line 119, ../sass/style.scss */
body * {
  font-family: "Lato", sans-serif;
  color: #1c1310; }

/* line 124, ../sass/style.scss */
strong {
  font-weight: bold; }

/* line 128, ../sass/style.scss */
label {
  clear: both;
  display: block;
  color: #ac3d22;
  font-size: 1rem;
  font-weight: 400; }

/* line 136, ../sass/style.scss */
input, textarea {
  font-size: .8125rem;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: transparent;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 148, ../sass/style.scss */
input {
  color: #1c1310;
  border-bottom: 1px solid #ac3d22; }

/* line 153, ../sass/style.scss */
textarea {
  height: 100px;
  resize: none;
  border: 1px solid #ac3d22;
  padding-top: 10px;
  padding-bottom: 10px; }

/* line 161, ../sass/style.scss */
button {
  background-color: #ac3d22;
  float: left;
  color: #ffffff;
  padding: 0px 30px;
  height: 35px;
  line-height: 35px; }

/* line 170, ../sass/style.scss */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #8d8d8d; }

/* line 174, ../sass/style.scss */
fieldset {
  width: 100%;
  margin-bottom: 15px; }

/* line 179, ../sass/style.scss */
p {
  line-height: 1.3rem;
  font-size: 1.375rem;
  font-weight: 300; }
  /* line 184, ../sass/style.scss */
  p.destaque {
    font-size: 1.625; }

/* line 189, ../sass/style.scss */
a, a:hover {
  text-decoration: none; }
  /* line 192, ../sass/style.scss */
  a :active, a:hover :active {
    text-decoration: none; }

/* line 197, ../sass/style.scss */
.align-right {
  text-align: right; }

/* line 201, ../sass/style.scss */
.container {
  width: 100%;
  max-width: 1169px;
  margin: 0 auto; }
  /* line 91, ../sass/style.scss */
  .container:before, .container:after {
    display: table;
    content: ''; }
  /* line 96, ../sass/style.scss */
  .container:after {
    clear: both; }

/* line 208, ../sass/style.scss */
.txt-right {
  text-align: right; }

/* line 212, ../sass/style.scss */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity; }

/* line 217, ../sass/style.scss */
.carousel-fade .carousel-inner .active {
  opacity: 1; }

/* line 221, ../sass/style.scss */
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1; }

/* line 228, ../sass/style.scss */
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

/* line 233, ../sass/style.scss */
.carousel-fade .carousel-control {
  z-index: 2; }

/* line 237, ../sass/style.scss */
.slide-home {
  height: 90vh !important;
  width: 100%;
  margin-top: -120px;
  display: block;
  position: relative; }
  /* line 244, ../sass/style.scss */
  .slide-home:after {
    content: '';
    height: 2px;
    width: 100%;
    display: block;
    background-color: #ac3d22; }
  /* line 252, ../sass/style.scss */
  .slide-home .carousel {
    height: 90vh !important;
    border-bottom: 7px solid #ffffff;
    overflow: hidden; }
  /* line 258, ../sass/style.scss */
  .slide-home .item {
    background-size: cover;
    height: 90vh !important; }
    /* line 262, ../sass/style.scss */
    .slide-home .item .caption {
      display: block;
      width: 800px;
      height: 269px;
      vertical-align: middle;
      position: absolute;
      z-index: 999;
      margin: -130px 0 0 -460px;
      top: 50%;
      left: 50%; }
      /* line 273, ../sass/style.scss */
      .slide-home .item .caption:before {
        content: '';
        width: 161px;
        height: 269px;
        background: url("../images/detalhe-slide.png") no-repeat 0 0;
        position: relative;
        z-index: 999;
        float: left; }
      /* line 283, ../sass/style.scss */
      .slide-home .item .caption h2 {
        color: #8b260d;
        font-size: 2.125rem;
        float: left;
        margin-left: -15px; }
      /* line 290, ../sass/style.scss */
      .slide-home .item .caption span, .slide-home .item .caption a {
        position: relative;
        z-index: 888;
        width: 251px;
        margin-left: 115px; }
      /* line 297, ../sass/style.scss */
      .slide-home .item .caption span {
        margin-top: 45px;
        height: 155px;
        font-size: 1rem;
        line-height: 1.3rem;
        color: #fff;
        font-weight: 300;
        padding: 25px 20px 25px 25px;
        display: block;
        background-color: rgba(172, 61, 34, 0.9); }
      /* line 309, ../sass/style.scss */
      .slide-home .item .caption a {
        background-color: #8b260d;
        height: 53px;
        line-height: 53px;
        font-size: 1.5rem;
        color: #fff;
        padding-right: 40px;
        display: block;
        text-align: right;
        -moz-transition: all 0.2s ease 0s;
        -webkit-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s; }
        /* line 320, ../sass/style.scss */
        .slide-home .item .caption a:hover {
          background-color: #5c1909; }
  /* line 327, ../sass/style.scss */
  .slide-home .controle-slide {
    position: absolute;
    top: 50%;
    margin-top: -78px;
    width: 100%;
    z-index: 100; }
    /* line 334, ../sass/style.scss */
    .slide-home .controle-slide a {
      height: 136px;
      width: 35px;
      position: relative;
      z-index: 999; }
      /* line 340, ../sass/style.scss */
      .slide-home .controle-slide a:hover {
        opacity: .5; }
      /* line 344, ../sass/style.scss */
      .slide-home .controle-slide a.left {
        left: 10%;
        float: left;
        background-image: url("../images/seta-slide-left.png"); }
      /* line 350, ../sass/style.scss */
      .slide-home .controle-slide a.right {
        float: right;
        right: 10%;
        background-image: url("../images/seta-slide-right.png"); }
  /* line 358, ../sass/style.scss */
  .slide-home .box-btn {
    height: 88px;
    position: absolute;
    bottom: 18px;
    font-size: 1rem;
    left: 50%;
    right: 50%;
    margin-left: -584px; }
  /* line 368, ../sass/style.scss */
  .slide-home .item-slide {
    padding: 0;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s; }
    /* line 372, ../sass/style.scss */
    .slide-home .item-slide a {
      display: table;
      height: 88px;
      padding: 25px; }
      /* line 377, ../sass/style.scss */
      .slide-home .item-slide a img, .slide-home .item-slide a span {
        display: table-cell;
        vertical-align: middle; }
      /* line 382, ../sass/style.scss */
      .slide-home .item-slide a img {
        margin-right: 30px; }
      /* line 386, ../sass/style.scss */
      .slide-home .item-slide a span {
        color: #ffffff;
        line-height: 1rem;
        font-size: 1rem; }
    /* line 393, ../sass/style.scss */
    .slide-home .item-slide:nth-child(1) {
      background-color: #d54d2c; }
      /* line 395, ../sass/style.scss */
      .slide-home .item-slide:nth-child(1):hover {
        background-color: #ac3d22; }
    /* line 400, ../sass/style.scss */
    .slide-home .item-slide:nth-child(2) {
      background-color: #c14526; }
      /* line 402, ../sass/style.scss */
      .slide-home .item-slide:nth-child(2):hover {
        background-color: #97351e; }
    /* line 407, ../sass/style.scss */
    .slide-home .item-slide:nth-child(3) {
      background-color: #ac3d22; }
      /* line 409, ../sass/style.scss */
      .slide-home .item-slide:nth-child(3):hover {
        background-color: #812e1a; }
    /* line 414, ../sass/style.scss */
    .slide-home .item-slide:nth-child(4) {
      background-color: #97351e; }
      /* line 416, ../sass/style.scss */
      .slide-home .item-slide:nth-child(4):hover {
        background-color: #6c2615; }

/* line 424, ../sass/style.scss */
.header {
  width: 100%;
  position: relative;
  padding: 7px 0;
  z-index: 999;
  background: url("../images/bg-header.png") repeat-x 0 0;
  border-bottom: 2px solid #ac3d22;
  overflow: hidden; }
  /* line 433, ../sass/style.scss */
  .header .container {
    overflow: hidden; }
  /* line 437, ../sass/style.scss */
  .header h1 {
    background-color: #fff;
    padding: 5px 50px;
    margin-left: -50px;
    float: left; }
    /* line 443, ../sass/style.scss */
    .header h1 img {
      display: block;
      height: 86px;
      width: 276px; }
  /* line 450, ../sass/style.scss */
  .header nav {
    background-color: #ac3d22;
    padding-bottom: 7px;
    margin-left: 60px;
    width: 100%; }
    /* line 456, ../sass/style.scss */
    .header nav .menu {
      float: right;
      margin: 21px 50px 0 0; }
      /* line 460, ../sass/style.scss */
      .header nav .menu a {
        color: #ffffff;
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: center;
        padding: 10px 15px;
        margin-left: 10px;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        -moz-transition: all 0.2s ease 0s;
        -webkit-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s; }
        /* line 472, ../sass/style.scss */
        .header nav .menu a:hover {
          opacity: .5; }
        /* line 476, ../sass/style.scss */
        .header nav .menu a:after {
          position: absolute;
          right: -8px;
          top: 50%;
          content: '//';
          color: #ffffff;
          opacity: .5;
          margin-top: -11px; }
        /* line 487, ../sass/style.scss */
        .header nav .menu a:last-child:after, .header nav .menu a:nth-child(5):after {
          display: none; }

/* line 496, ../sass/style.scss */
.content {
  background: url("../images/bg-content.jpg") no-repeat bottom right #ffffff;
  min-height: 728px; }
  /* line 500, ../sass/style.scss */
  .content h2 {
    font-size: 1.625rem;
    color: #ac3d22;
    margin-bottom: 25px; }
    /* line 505, ../sass/style.scss */
    .content h2 .icon-title {
      display: inline-block;
      margin-right: 20px;
      width: 33px;
      height: 33px;
      position: relative;
      top: 5px; }

/* line 517, ../sass/style.scss */
.obras-emandamento h2, .obras-concluidas h2 {
  margin: 35px 0 20px;
  text-align: center; }

/* line 523, ../sass/style.scss */
.slide-obras {
  height: 400px;
  position: relative; }
  /* line 527, ../sass/style.scss */
  .slide-obras .carousel {
    height: 400px; }
  /* line 531, ../sass/style.scss */
  .slide-obras .controle-slide {
    position: absolute;
    top: 50%;
    margin-top: -78px;
    width: 100%;
    z-index: 100;
    height: 136px; }
    /* line 540, ../sass/style.scss */
    .slide-obras .controle-slide span a {
      width: 35px;
      height: 136px;
      text-indent: -10000px; }
    /* line 546, ../sass/style.scss */
    .slide-obras .controle-slide span:hover a {
      opacity: .5; }
    /* line 550, ../sass/style.scss */
    .slide-obras .controle-slide span.left a {
      margin-left: -50px;
      float: left;
      background-image: url("../images/seta-slide-obras-left.png"); }
    /* line 556, ../sass/style.scss */
    .slide-obras .controle-slide span.right a {
      float: right;
      margin-right: -50px;
      background-image: url("../images/seta-slide-obras-right.png"); }
  /* line 564, ../sass/style.scss */
  .slide-obras .item {
    width: 33.33333%;
    float: left; }
    /* line 567, ../sass/style.scss */
    .slide-obras .item div {
      height: 390px;
      margin-top: 10px;
      position: relative;
      background-size: cover; }
    /* line 574, ../sass/style.scss */
    .slide-obras .item .new {
      font-size: 1rem;
      background-color: #a13c24;
      color: #ffffff;
      position: absolute;
      top: -10px;
      left: 10px;
      padding: 2px 10px; }
    /* line 584, ../sass/style.scss */
    .slide-obras .item .descricao, .slide-obras .item a {
      position: absolute;
      width: 100%;
      color: #ffffff;
      display: block;
      text-align: center;
      padding: 20px 10px; }
    /* line 593, ../sass/style.scss */
    .slide-obras .item .descricao {
      background-color: rgba(0, 0, 0, 0.7);
      color: #ffffff;
      bottom: 40px;
      font-size: 1rem;
      line-height: 1.2rem; }
    /* line 601, ../sass/style.scss */
    .slide-obras .item a {
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 1.25rem;
      bottom: 0;
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-transform: uppercase;
      background-color: #a13c24; }

/* line 615, ../sass/style.scss */
.contato-home {
  margin: 50px 0; }
  /* line 619, ../sass/style.scss */
  .contato-home .localizacao iframe {
    width: 100%;
    height: 380px; }

/* line 626, ../sass/style.scss */
.footer {
  border-bottom: 14px solid #ffece7;
  padding-bottom: 2px;
  background-color: #712411; }
  /* line 631, ../sass/style.scss */
  .footer .detalhe {
    height: 60px;
    background-color: #d29080; }
    /* line 635, ../sass/style.scss */
    .footer .detalhe .col-md-4 {
      border-top: 9px solid transparent; }
      /* line 638, ../sass/style.scss */
      .footer .detalhe .col-md-4:nth-child(1) {
        border-top-color: #d95f41; }
      /* line 642, ../sass/style.scss */
      .footer .detalhe .col-md-4:nth-child(2) {
        border-top-color: #ac3d22;
        padding-bottom: 9px;
        margin-top: -9px; }
      /* line 648, ../sass/style.scss */
      .footer .detalhe .col-md-4:nth-child(3) {
        border-top-color: #6c2615; }
  /* line 654, ../sass/style.scss */
  .footer .footer-content {
    background-color: #ffffff;
    width: 100%;
    padding: 20px 0px; }
    /* line 660, ../sass/style.scss */
    .footer .footer-content .copy img {
      width: 100%;
      max-width: 276px; }
    /* line 666, ../sass/style.scss */
    .footer .footer-content .endereco {
      color: #686868;
      font-size: .875rem;
      line-height: 1rem;
      font-weight: 300;
      padding-top: 10px; }
      /* line 673, ../sass/style.scss */
      .footer .footer-content .endereco strong {
        display: block;
        font-weight: 400; }
    /* line 679, ../sass/style.scss */
    .footer .footer-content .orpit {
      padding-top: 15px;
      line-height: 24px;
      color: #000000;
      font-size: .75rem;
      text-align: right; }
      /* line 686, ../sass/style.scss */
      .footer .footer-content .orpit img {
        width: 53px;
        height: 24px;
        float: right;
        margin-left: 5px; }
